:root{
    --accent-color:#2196F3;
    --primary-text-color:#212121;
    --thirdly-text-color:#FFFFFF;
    --secondary-text-color:#757575;
    --background-color:#2F303A ;
}
/* #212121 -primary-text-color
#2196F3 -accent-color
#FFFFFF -thirdly-text-color
#757575 -secondary-text-color */
/* основное */
body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color)
}
*,
::before,
::after{
    box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}
ul{
    list-style: none ;
}
/* главная страница */
.logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color:#212121;
}
.logo span{
color:#2196F3;
}
.nav-link,
.contact-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}
.contact-link{
    color: var(--secondary-text-color);
}
/* основное */
.section{
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section.hero{
padding-top: 200px;
padding-bottom: 200px;
}
.section.hero,
.footer{
    background-color:var(--background-color) ;
}
.hero-title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--thirdly-text-color);
}
/* особливості  */
.fetures{
    display: flex;
    justify-content: space-between;
}
.fetures-item{
    width: 280px;
}
/* хедер */
.section.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.container.nav{
    display: flex;
    align-items: center;
}    
nav{
    margin-left: 93px;
}
.nav-list{
    display: flex;
}
.nav-item:not(:first-child){
    margin-left: 54px;
}
.contacts-list{
    display: flex;
    margin-left: auto;
}
.contact-item:not(:first-child){
    margin-left: 50px;
}
/* футер */
.section.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
/* Портфолио */
.hero-buttons{
    display: flex;
    align-items: center;
    margin-top: 132px;
}
.button-list{
    display: flex;
    margin: auto;
}
.button-item{
    display: flex;
    margin-left: 55px;
}
.example{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.example-link{
    width: calc( (100% - 15px *6) / 3);
    margin: 15px;
}
.button{
    border: none;
    border-radius: 4px;
    padding: 6px 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
.button:hover,
.button:focus{
background: var(--accent-color);
color: var(--thirdly-text-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* чим ми займаємося */
.hobby{
    display: flex;
}
.hobbycaption{
    text-align: center;
    margin-bottom: 50px;
}
.hobby-item:not(:first-child){
    margin-left: 30px;
}
/* наша команда */
.team{
    display: flex;
}
.teamcaption{
    text-align: center;
    margin-bottom: 50px;
}

.team-item:not(:first-child){
    margin-left: 30px;
}
.phototeam{
    width: 270px;
}
